annotated-types==0.7.0
anyio==4.7.0
apispec==6.8.1
blinker==1.9.0
certifi==2024.8.30
click==8.1.8
dep-logic==0.4.9
distlib==0.3.9
distro==1.9.0
exceptiongroup==1.2.2
filelock==3.16.1
findpython==0.6.2
Flask==3.1.0
flask-cors==5.0.1
flask-marshmallow==1.3.0
flask-smorest==0.45.0
Flask-SQLAlchemy==3.1.1
h11==0.14.0
hishel==0.1.1
httpcore==1.0.7
httpx==0.28.1
idna==3.10
installer==0.7.0
itsdangerous==2.2.0
Jinja2==3.1.5
jiter==0.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mdurl==0.1.2
msgpack==1.1.0
openai==1.65.1
packaging==24.2
pbs-installer==2024.10.16
pdm==2.22.0
platformdirs==4.3.6
psycopg2==2.9.10
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.18.0
pyproject_hooks==1.2.0
python-dotenv==1.0.1
resolvelib==1.1.0
rich==13.9.4
shellingham==1.5.4
sniffio==1.3.1
socksio==1.0.0
SQLAlchemy==2.0.38
swagger-ui-assets==1.0.0
tomli==2.2.1
tomlkit==0.13.2
tqdm==4.67.1
truststore==0.10.0
typing_extensions==4.12.2
unearth==0.17.2
virtualenv==20.28.0
webargs==8.6.0
Werkzeug==3.1.3
